
SUPABASE_URL=https://rnvrjlmpltuoybwxpjnb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_9RPLcNaz5Q4GljVt87xXng_okZRG3F0
ORDERFLOW_BUSINESS_ID=ID:4022732f-14d7-4272-bd22-192ba3ad36cb
OPENAI_API_KEY=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
PORT=8000